<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>我的账户</h1>
<a href="account/billShow" style="padding-right: 20px;"><span>账户明细</span></a>
</header>

<div class="container" id="container">
	<center>
		<div class="balance" style="font-size: 16px;">
	        <img src="images/account_img.jpg" style="width: 200px;height: 150px;margin-top: 50px;">
	        <span>我的账户</span>
	        <p>
	        	<span >¥{$money}</span>
	        </p>
	    </div>
		<a href="account/recharge" class="submit-btn">充值</a>
		<a href="account/forward" class="submit-btn">提现</a>
	</center>
    
</div>
