<!DOCTYPE html>
<html>
<head>
	<!--<base href="__ROOT__/index/" />-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>用户评价</title>
<!--标准mui.css-->
<link rel="stylesheet" href="js/mui/css/mui.min.css">
<!--标准mui.css-->
<!--App自定义的css-->
<link rel="stylesheet" href="js/mui/css/mui.diy.css">
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script src="js/common.js"></script>
<style type="text/css">
html,body{ background-color:#fff; }
</style>
</head>

<body>
<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>用户评论</h1>
</header>
<!--header-end-->

<div class="container" id="container"> 

<div class="user-evaluation">

<!--列表1开始-->
{foreach name="res" item="v"}
  <div class="user-evaluation-item clearfix">
    <div class="user-evaluation-item-tit clearfix">
      <div class="fl">{$v.c_name}站{$v.a_num}号</span></div>
      <div class="fr"><span class="phone">{$v.u_nick}</span><span class="time">{$v.now_time|date="Y-m-d",###}</span></div>
    </div>
    <div class="user-evaluation-item-con">
      <div class="user-evaluation-item-con-txt">{$v.co_content}</div>
      <div class="user-evaluation-item-con-img">
      	{if ($v.co_img!='')}
      	
      		<img src="__ROOT__/uploads/{$v.co_img}" data-preview-src="" data-preview-group="1" >
      	{else if}
      		
      	{/if}
        
      </div>
    </div>
  </div>
{/foreach}
<!--列表1结束-->
  
</div>
<!----图片点击放大滑动效果---->
<script src="js/mui/js/mui.min.js"></script>
<script src="js/mui/js/mui.zoom.js"></script>
<script src="js/mui/js/mui.previewimage.js"></script>
<script>
  mui.previewImage();
</script>
<!----图片点击放大滑动效果---->
</div>
<!--container-end-->
</body>
</html>
