<body>
<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>用户评论</h1>
</header>
<!--header-end-->

<div class="container" id="container"> 

<div class="user-evaluation">

<!--列表1开始-->
{foreach name="res" item="v"}
  <div class="user-evaluation-item clearfix">
    <div class="user-evaluation-item-tit clearfix">
      <div class="fl">{$v.c_name}站{$v.a_num}号</span></div>
      <div class="fr"><span class="phone">{$v.u_nick}</span><span class="time">{$v.now_time|date="Y-m-d",###}</span></div>
    </div>
    <div class="user-evaluation-item-con">
      <div class="user-evaluation-item-con-txt">{$v.co_content}</div>
      <div class="user-evaluation-item-con-img">
      	{if ($v.co_img!='')}
      	
      		<img src="__ROOT__/uploads/{$v.co_img}" data-preview-src="" data-preview-group="1" >
      	{else if}
      		
      	{/if}
        
      </div>
    </div>
  </div>
{/foreach}
<!--列表1结束-->
  
</div>

