
<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>充电完成</h1>
</header>
<!--header-end-->

<div class="container" id="container"> 

<div class="add-class">
  <form>
    <ul>
      <li><label>本次充电时长</label><space id="type" class="add-space">{$o.sum_time}</space></li>
      <li><label>已缴费</label><space id="type" class="add-space">{$o.sum_money}</space></li>
      
    </ul>
    <a href="{:url('index/index/index')}" class="pro-type1">完成</a>
  </form>  
</div>

</div>
<!--container-end-->
</body>
</html>
