<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>积分</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script src="js/common.js"></script>
</head>

<body>
<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>积分</h1>
</header>
<!--header-end-->

<div class="container" id="container"> 

<div class="integral-head">
  <p><em class="jf"><?= $sum ?></em>分</p>
  <p>小小积分，有大用，努力多赚一些吧！</p>
  <br /><br />
  <input type='button' value='兑换到余额' id='open' class="tixian"> 
</div>
<div class="integral-rule">
<div class="integral-rule-tit"><h2>积分使用规则</h2></div>
<div class="integral-rule-con">
	充电结算后按每分钟1分计算添加到积分钱包中<br />
	积分可用来兑换钱包余额(100:1)，进行充电使用或者提现
</div>
</div>

</div>
<!--container-end-->
</body>
</html>
<script src="__ROOT__/index/js/js.js"></script>
<script>
	//积分兑换
	$(document).on("click","#open",function(){
		//获取总积分
		var m_num = $(".jf").html();
		
		var remainder = m_num%100;
		//判断积分是否低于100
		if(m_num<100){
			alert("积分低于100不予兑换！");
			return false;
		}
		$.ajax({
			type:"post",
			url:"{:url('integral/convert')}",
		})
		alert("兑换成功！");
		var num = remainder;
		$(".jf").html(num);
	})
</script>
