<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>账户充值</h1>
<a href="account_details.html" style="padding-right: 20px;"><span>账户明细</span></a>
</header>
<div class="container" id="container">
	<form action="integral/recharge" method="post">
		<div class="registered">
			<div class="field">
				<span style="font-size: 30px;">银行卡号</span>
				
				<select name="card_id" style="font-size: 15px;">
					{foreach name="data" item='v'}
						
						<option value="{$v.card_id}" <?php if($v['card_status']==1) echo 'selected';?>>
							{$v.card_num}
						</option>
						
					{/foreach}
				</select>
			</div>
	       	<div class="field">
	       		<span style="font-size: 30px;">金额(¥)</span>
	        	<input type="text" name="money" placeholder="请填写充值金额" value="" style="font-size: 15px;">
	       	</div>
	        
	    </div>
	    <input type="submit" class="submit-btn" value="下一步">
	</form>
</div>