<!DOCTYPE html>
<html>
<head>
<base href="__ROOT__/index/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>我的头像</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">

<script type="text/javascript" src="js/jquery.min.js" ></script>
<script src="js/common.js"></script>
<style>
    .fileinput-button {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .fileinput-button input{
        position:absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 100px;
    }
</style>

</head>
<body>

<form action="{:url('users/myImg')}" method="post" enctype="multipart/form-data">
<header class="header header-save" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>我的头像</h1>
<button type="submit">保存</button>
</header>
<!--header-end-->

<div class="container" id="container"> 
	<center>
		<div class="my-face">
		  	<div class="my-face-con">
		    	<div class="my-face-pic">
		    	<?php if($img==""){?>
		    		<img src="images/my-face-pic.jpg">
		    	<?php }else{?>
		    		<img src="__ROOT__/{$img}">
		    	<?php }?>
		    </div>
		  	</div>
		</div>
		<div>
			<span class="btn btn-success fileinput-button">
	            <button style="font-size: 20px;">修改头像</button>
	            <input type="file" name="face">
	        </span>
       </div>
	</center>
</div>
</form>
</body>
</html>

