<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>支付密码</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script src="js/common.js"></script>
</head>

<body>

<form action="users/paypwd" method="post">
<header class="header header-save" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>支付密码</h1>
<button type="submit" id="sub">保存</button>
</header>
<!--header-end-->

<div class="container" id="container"> 

{if condition="$status.status eq 1"}
<div class="modify">
   原密码:<input type="password" name="old_pwd" class="username" value="" required><a href="javascript:" class="clear-close" id="clear-close" onclick="javascript:document.getElementById('username').value='';document.getElementById('username').focus();" value="clear"></a>
 新密码:<input type="password" id="newPwd" name="m_pwd" class="username" value="" required><a href="javascript:" class="clear-close" id="clear-close" onclick="javascript:document.getElementById('username').value='';document.getElementById('username').focus();" value="clear"></a>
 确认新密码:<input type="password" id="cPwd" name="check_pwd" class="username" value="" required><a href="javascript:" class="clear-close" id="clear-close" onclick="javascript:document.getElementById('username').value='';document.getElementById('username').focus();" value="clear"></a>
</div>
{else /}
<div class="modify">
	输入支付密码:<input type="password" name="m_pwd" class="username" value="" required><a href="javascript:" class="clear-close" id="clear-close" onclick="javascript:document.getElementById('username').value='';document.getElementById('username').focus();" value="clear"></a>
</div>
{/if}
</div>
<!--container-end-->
</form>
</body>
</html>
<script>
	$("#sub").click(function(){
		if($("#newPwd").val()!=$('#cPwd').val()){
			alert('请重新确认密码')
			$('#cPwd').val("")
			return false
		}
	})
</script>

